body{
	background-color: #ffffff;
	color: #767676;
	background: url(../images/css_pic/flower.gif) repeat-y center top;
}

a:link {
	color: #57a8d5;
}
a:visited {
	color: #8885cf;
}
a:active {
	color: #1b6fdb;
}

/*-------- contents のスタイル --------*/
ul.color{
	list-style-image: url("../images/css_pic/arrow_color.gif");
}

/*-------- footer のスタイル --------*/
/*-------- 見出しのスタイル --------*/
#main h3{
	background-color: #d7e2ef;
	color: #767676;
}

#main h4{
	color: #669966;
}


/*-------- 本文中の強調スタイル ------*/
.strong{
	color: #1b508c;
}

strong{
	color: #ef7117;
}

#shimekiri{
	background-color:#ffdfe8;
}
