﻿body{
	margin:0pc 0pc 0pc 0pc;
	padding:0px;
}

#main{
	width:600px;
	margin: 0 auto;
	font-size: 95%;
}

a{
	text-decoration:none;
}


/*-------- information のスタイル --------*/
#information{
	width: 600px;
	float: left;
}

#information img{
	padding: 15px 0px 0px 0px;
}

/*-------- header のスタイル --------*/
#logo{
	margin: 0px 0px 0px 0px;
	float: left;
	padding: 0px;
}

img{margin:0px; padding:0px; border:0px;}

#menu{
	padding:70px 0px 10px 0px;
	border-bottom:solid 1px #999999;
}

#menu img{
	width:80px; height:20px;
	}

/*-------- contents のスタイル --------*/
#contents{
	width: 600px;
	padding:10px 0px 5px 0px;
}
	

#contents ul{
	margin:0px 0px 1px 0px;
	list-style-type:none;
	padding-left:1pc;
}


.topicbox1{
	width:290px;
	height:210px;
	float: left;
	margin:3px;
	border:solid 1px #999999;
	line-height:130%
}


.topicbox img{
	margin:0px;
	padding:0px;
}


table{
	border:solid 1px #999999;
}

.waku{
	border:solid 1px #f9c;
	margin:5px;
	padding:3px;
	}
/*-----業務外国語のスタイル-----*/
ul.english{
	list-style-image: url("../images/member/face.gif");
	color:#4f9c8f;
}

.left{
	float:left;
	width:300px;
	}

.c_left{
	float:left;
	width:355px;
	}

/*-----マナー違反のスタイル-----*/
#work_d ul li{
	margin:0px 0px 7px 0px;
	}

/*-------- footer のスタイル --------*/
#footer{
	width:600px;
	height:75px;
	clear:both;
	margin:0px 0px 0px 0px;
	text-align: right;
	font-size:85%;
}

/*-------- 見出しのスタイル --------*/

#main h2{
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

#main .workh2{
	margin: 10px 0px 0px 0px;
	padding: 0px;
}

#main h3{
	margin:1pc 0px 0px 0px;
	padding:7px 0px 3px 5px;
	font-size:120%;
}

#main h4{
	border-bottom:1px solid #999999;
	margin:1pc 0px 2px 0px;
	padding:7px 0px 3px 5px;
	font-size:115%;
	}


#main h5{
	margin:1pc 0px 2px 0px;
	padding:7px 0px 3px 5px;
	font-size:115%;
	color:#1054a3;
	}

#main h6{margin:1pc 0px 2px 0px;
	padding:7px 0px 3px 5px;
	font-size:100%;
	color:#1054a3;
	}
	
/*-------- 本文中の強調スタイル ------*/
.strong{
	font-weight:bold;
	}

#shimekiri{
	margin:10px 0px 0px 0px;
	padding:3px;
	font-size:120%;
	}

/*----
ul.color{
	list-style-image: url("../images/css_pic/arrow_color.gif");
}
---*/
