/*-------- メンバーリストのサブメニュースタイル --------*/
#manycontent{
	width:600px;
	font-size:90%;
	padding:0px;
	margin:1pc 0px;
	line-height:13pt;
}

#manycontent ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
	width: 100%;
}

#manycontent li{
	display: inline;
	margin:0px 2px;
	padding:0px;
	border:solid 1px #99ccff;
	float:left;
	width:78px;
	height:16px;
}



#manycontent a{
	text-decoration:none;
	color:#666666;
	display:block;
	width:78px;
	height:17px;
}

#manycontent a:visited{
	color:#666666;
	text-decoration:none;
}

#manycontent a:hover{
	text-decoration:none;
	background-color:#99cccc;
}

#manycontent span{
	padding:0px;
	padding-left:2px;
	display:block;
}
#teamcontent{
	clear:left;
}
/*-------- メンバーリストのサブメニュースタイル終了 --------*/
#profile{
	width:610px;
	}

/*-------- ファームのスタイル --------*/
#farm{
	margin:6px;
}

.farm_boxleft{
	float:left;
	border:solid 1px #778899;
	width:287px;
	height:105px;
	margin:2px;
}

.farm_boxright{
	float:left;
	border:solid 1px #778899;
	width:287px;
	height:105px;
	margin:2px;
}

.farm_photo{
	float:right;
	margin:1px;
	width:90px;
	height:90px;
	border:solid 1px #778899;
}
#farm h5{
	font-size:95%;
	font-weight:normal;
	margin:4px;
	color:#999999;
}

#farm h6.kanji{
	font-size:100%;
	color:#777777;
	margin:4px;
}

#farm h6.roma{
	font-size:83%;
	font-weight:normal;
	margin:4px;
	color:#999999;
	letter-spacing: 1pt;
}

#farmlogo{
	width:235px;
	height:54px;
	padding:0;
	margin:25.5px auto 25.5px auto;
}
/*-------- ファームのスタイル終了 --------*/

/*--------その他のチームのロゴのスタイル--------*/
.team_logo{
	padding:0;
	width:287px;
	height:155px;
	margin:10px auto auto auto;
}
/*--------その他のチームのロゴのスタイルの終了--------*/


/*-------- その他のチームのスタイル --------*/

.logo_boxleft{
	float:left;
	border:solid 1px #778899;
	width:290px;
	height:340px;
	margin:4px;
}

.logo_boxright{
	float:right;
	border:solid 1px #778899;
	width:290px;
	height:340px;
	margin:4px;
}

.member_boxleft{
	float:left;
	border:solid 1px #778899;
	width:290px;
	height:340px;
	margin:4px;
	line-height:100%
}

.member_boxright{
	float:right;
	border:solid 1px #778899;
	width:290px;
	height:340px;
	margin:4px;
	line-height:100%
}

.member_photo{
	float:right;
	margin:1px;
	width:90px;
	height:90px;
	border:solid 1px #778899;
}



#team h4{
	border-bottom:1px dotted #999999;
	margin:0px;
	font-size:100%;
	color:#669966;
	font-color:#046d95;
}
#team h5{
	font-size:95%;
	font-weight:normal;
	margin:1pc 4px 4px;
	color:#999999;
}

#team h6.kanji{
	font-size:100%;
	color:#777777;
	margin:4px;
}

#team h6.roma{
	font-size:83%;
	font-weight:normal;
	margin:4px;
	color:#999999;
	letter-spacing: 1pt;
}

#team ul{
	clear:right;
	list-style-position: inside;
	margin-left:9px;
	padding-left:0px;
	list-style-image: url('../images/member/face.gif');
}

#team li{	
	font-size:83%;
	color:#666666;
	margin-top:9px;
	margin-bottom:9px;
}
/*-------- その他のチームのスタイル終了 --------*/


/*-------- それぞれのチームのカラースタイル--------*/
.farm_color{
	background-color:#e8dae8;
}
.apli_color{
	background-color:#d9f0b0;
}

.smile_color{
	background-color:#ffdddd;
}

.web_color{
	background-color:#d1e7e8;
}
.freshers_color{
	background-color:#ffff99;
}

.media_color{
	background-color:#ffffcc;
}
/*-------- それぞれのチームのカラースタイル終了--------*/
